#home-button {
  z-index: 1;
}

#article-display > h3 {
  padding: 0px 0px 10px 0px;
  border-bottom: solid;
}

#comments-list {
  border: solid 1px white;
  padding: 10px;
  text-align: left;
}

@media screen and (max-width: 1100px) {
  #grid-container {
    display: grid;
    grid-template-areas: "a a" "b ." "c c" "d d";
    gap: 10px;
    /* margin: 0% 10%; */
    justify-content: center;
  }

  #article-display {
    background: #555b68;
    color: white;
    padding: 2rem;
    margin: 1rem;
    border: solid;
    text-align: left;
    grid-area: a;
    min-height: 30vh;
    max-width: 90vw;
  }

  #like-article {
    background: white;
    border: solid;
    padding: 2rem;
    margin: 1rem;
    grid-area: b;
  }

  #article-comments {
    background-color: #282c34;
    color: white;
    padding: 2rem;
    margin: 1rem;
    grid-area: c;
    min-width: 30vw;
    max-width: 90vw;
  }

  #add-comment {
    background: white;
    border: solid;
    padding: 2rem;
    margin: 1rem;
    grid-area: d;
    max-width: 90vw;
  }
}

@media screen and (min-width: 1101px) {
  #grid-container {
    display: grid;
    grid-template-areas: "a a a a c c" "b b . . c c" "d d d d c c";
    gap: 10px;
    margin: 0% 10%;
  }

  #article-display {
    background: #555b68;
    color: white;
    padding: 2rem;
    margin: 1rem;
    border: solid;
    text-align: left;
    grid-area: a;
    min-height: 30vh;
    max-width: 50vw;
  }

  #like-article {
    background: white;
    border: solid;
    padding: 2rem;
    margin: 1rem;
    grid-area: b;
    height: 10vh;
  }

  #article-comments {
    background-color: #282c34;
    color: white;
    padding: 2rem;
    margin: 1rem;
    grid-area: c;
    width: 30vw;
    max-height: 50vh;
    overflow: scroll;
  }

  #add-comment {
    background: white;
    border: solid;
    padding: 2rem;
    margin: 1rem;
    grid-area: d;
    max-width: 50vw;
  }
}
